<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>zPFA_Sudoku</display-name>
  <welcome-file-list>
    <welcome-file>Page_Acceuil.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Servlet_Login</display-name>
    <servlet-name>Servlet_Login</servlet-name>
    <servlet-class>Login_Register_Puzzles.Servlet_Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_Login</servlet-name>
    <url-pattern>/Servlet_Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet_Register</display-name>
    <servlet-name>Servlet_Register</servlet-name>
    <servlet-class>Login_Register_Puzzles.Servlet_Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet_Register</servlet-name>
    <url-pattern>/Servlet_Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WebSocket_Statistiques</display-name>
    <servlet-name>WebSocket_Statistiques</servlet-name>
    <servlet-class>websockets.WebSocket_Statistiques</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebSocket_Statistiques</servlet-name>
    <url-pattern>/WebSocket_Statistiques</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitSocket</display-name>
    <servlet-name>SubmitSocket</servlet-name>
    <servlet-class>SubmitSocket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitSocket</servlet-name>
    <url-pattern>/SubmitSocket</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WebsocketMoyen</display-name>
    <servlet-name>WebsocketMoyen</servlet-name>
    <servlet-class>WebsocketMoyen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebsocketMoyen</servlet-name>
    <url-pattern>/WebsocketMoyen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WebSocketDifficile</display-name>
    <servlet-name>WebSocketDifficile</servlet-name>
    <servlet-class>WebSocketDifficile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebSocketDifficile</servlet-name>
    <url-pattern>/WebSocketDifficile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WebSocketDiabolique</display-name>
    <servlet-name>WebSocketDiabolique</servlet-name>
    <servlet-class>WebSocketDiabolique</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebSocketDiabolique</servlet-name>
    <url-pattern>/WebSocketDiabolique</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WebSocket_Check_existing_account</display-name>
    <servlet-name>WebSocket_Check_existing_account</servlet-name>
    <servlet-class>Login_Register_Puzzles.WebSocket_Check_existing_account</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebSocket_Check_existing_account</servlet-name>
    <url-pattern>/WebSocket_Check_existing_account</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Les_10_meilleurs_joueurs</display-name>
    <servlet-name>Les_10_meilleurs_joueurs</servlet-name>
    <servlet-class>websockets.Les_10_meilleurs_joueurs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Les_10_meilleurs_joueurs</servlet-name>
    <url-pattern>/Les_10_meilleurs_joueurs</url-pattern>
  </servlet-mapping>
</web-app>